/* Group 3847 */


.global-card-dark {
  height: 300px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  backdrop-filter: blur(25px);
  border-radius: 4px;
  background: #131922;
  transition: 0.3s;
  border-style: solid;
  border-width: 1px;
  border-image: linear-gradient(307deg, #0CD9E7, rgb(255 255 255 / 0%), #2C34F8) 1;
}

.card-active{
  border:   1px solid #4EDCE6;
  transform: scale(1.05);
}

.global-card-light{
  height: 300px;
  width: 250px;
  margin: 10px;
  padding: 10px;
  backdrop-filter: blur(25px);
  border-radius: 4px;
  background: #f6f8ff;
  background-image: linear-gradient(to bottom left, #edf9ff, #f8f3ff);
  transition: 0.3s;
  border-image: linear-gradient(307deg, #0CD9E7, rgb(255 255 255 / 0%), #2C34F8) 1;
}


.global-card-light:hover{
  transform: scale(1.05);
}
.global-card-dark:hover{
  transform: scale(1.05);
}

.attribute-scrollable{
  max-height: 300px;
  overflow: auto;
}

.card-text{
  font-size: 12px;
}

.blue-line{
  /* Vector 41 */
  margin-top: 12px;
  margin-bottom: 12px;
  width: 225px;
  border: 1px solid #294650;
}
.node-details-style-dark{
  color: #C3C5C9;
}
.node-details-style-light{
  color: #151515;
}

.record-card-title-dark{
  color: #ffffffeb; font-size: 22px !important;
}
.record-card-title-light{
  color: #000000eb; font-size: 22px !important;
}